@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
<div class="row">
    <div class="col-sm-8 left"> Content 1 </div>
    <div class="col-sm-4 right"> Content 2</div>
</div>
<div class="row">
    <div class="col-sm-4 test-1">col-sm-4</div>
    <div class="col-sm-4 test-2">col-sm-4</div>
    <div class="col-sm-4 test-3">col-sm-4</div>
</div>
<div class="row">
    <div class="col-sm test-4">col-sm</div>
    <div class="col-sm test-5">col-sm</div>
    <div class="col-sm test-6">col-sm</div>
</div>
<div class="row">
    <div class="col-md-4 test-7">.col-md-4</div>
    <div class="col-md-4 offset-md-4 test-8">.col-md-4 .offset-md-4</div>
</div>