@{
    ViewBag.Title = "Home Page";
}
    <div class="index-header">
        <div class="index-header-introduction">
            <h1>GP owned medical practices in Australia</h1>
            <p class="lead">MedConnect is a network of GP doctor owned and operated medical and dental practices committed to comprehensive patient care.</p>
        </div>
        <div class="header-image-holder"></div>
    </div>

    <div class="row text-content">
        <div class="col-md-4">
            <h2>Work With Us</h2>
            <p>
                Work with one of Australia's largest privately owned medical centre group. We offer great
                opportunites to doctors and medical support staff across Australia
            </p>
            @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
        </div>
        <div class="col-md-4">
            <h2>Book an Appointment</h2>
            <p>
                We only provide Medical Centres in Australia who provide quality care. Now, you can have the same quality medical care
                in your own home after hours. Book an appointment with a medical professional online now.
            </p>
        </div>
        <div class="col-md-4">
            <h2>Selling your Medical Practice</h2>
            <p>If you are willing to digitise your practice and want to ensure both the contunity of your practice for your staff and wellbeing for your patients, then sign up and we can help you.</p>
        </div>
    </div>